
body.bg-primary {
    background: radial-gradient(circle at center, #003666 0%, #001833 100%) !important;
}


.btn-dark {
    background-color: #002b54 !important;
    border-color: #001a33 !important;
}

    .btn-dark:hover {
        background-color: #001a33 !important;
    }
